---
import { Picture } from "astro:assets";

interface Props {
  image: ImageMetadata;
  direction: "top" | "bottom";
  className?: string;
  alt?: string;
}

const { className, direction = "top", image, alt = "" } = Astro.props as Props;
---

<span class={`image-reveal ${direction} ${className}`}>
  <slot />
  <Picture
    src={image}
    width={image.width}
    height={image.height}
    widths={[300, 400]}
    alt=""
    class="image-reveal__image"
    formats={["webp"]}
    fallbackFormat={image.format}
    loading="lazy"
    decoding="async"
  />
</span>

<style is:global>
  .image-reveal {
    position: relative;
    display: block;
    max-width: max-content;
  }
  .image-reveal .image-reveal__image {
    opacity: 0;
    transition: all 250ms ease;
    transition-delay: 50ms;
    position: absolute;
    left: 0;
    height: auto;
    width: auto;
    min-width: 300px;
    max-width: 100wh;
    z-index: 1;
    pointer-events: none;
  }
  .image-reveal.top .image-reveal__image {
    top: -1rem;
    transform: translateY(-100%);
  }
  .image-reveal.bottom .image-reveal__image {
    bottom: -1rem;
    transform: translateY(100%);
  }
  .image-reveal:hover .image-reveal__image {
    display: block;
    opacity: 1;
    filter: drop-shadow(0 1rem 1rem #000);
  }
</style>
