---
import Heading from "./Heading.astro";
import { Icon } from "astro-icon/components";
import { iconClass, linkAttrs } from "../SocialMedia.astro";
import { Picture } from "astro:assets";

const { thumbnail, title, github, codepen, demo } = Astro.props;
---

<div class="flex flex-col gap-2">
  <a
    href={!!codepen ? codepen : demo}
    class="flex flex-col items-start justify-start gap-4 hover:text-supernova-500 transition-colors"
    {...linkAttrs}
  >
    <Picture
      src={thumbnail}
      alt={`Lab project: ${title}`}
      loading="lazy"
      formats={["avif", "webp", "jpeg"]}
      class={"w-full aspect-square object-cover rounded-lg"}
      inferSize
    />
    <Heading size={3} text={title} />
  </a>
  <div>
    <div class="flex items-center justify-start gap-2">
      {
        !!github && (
          <a
            href={github}
            {...linkAttrs}
            class="group"
            title="GitHub repository"
          >
            <Icon name="mdi:github" class={iconClass} />
          </a>
        )
      }
      {
        !!codepen && (
          <a
            href={codepen}
            {...linkAttrs}
            class="group"
            title="CodePen project"
          >
            <Icon name="mdi:codepen" class={iconClass} />
          </a>
        )
      }
      {
        !!demo && (
          <a href={demo} {...linkAttrs} class="group" title="Live demo">
            <Icon name="mdi:external-link" class={iconClass} />
          </a>
        )
      }
    </div>
  </div>
</div>
