---
import { Icon } from "astro-icon/components";
import { links } from "../data/links";

export const iconClass =
  "h-7 w-7 transition-colors group-hover:text-supernova-500";
export const linkAttrs = {
  target: "_blank",
  rel: "noopener noreferrer nofollow",
};
---

<div class="flex flex-row gap-4 items-center justify-center">
  <a href={`mailto:${links.email}`} {...linkAttrs} class="group" title="Email">
    <Icon name="mdi:email" class={iconClass} />
  </a>
  <a href={links.github} {...linkAttrs} class="group" title="GitHub">
    <Icon name="mdi:github" class={iconClass} />
  </a>
  <a href={links.codepen} {...linkAttrs} class="group" title="CodePen">
    <Icon name="mdi:codepen" class={iconClass} />
  </a>
  <!-- <a href={links.instagram} {...linkAttrs} class="group" title="Instagram">
    <Icon name="mdi:instagram" class={iconClass} />
  </a> -->
  <!-- <a href={links.twitter} {...linkAttrs} class="group" title="Twitter">
    <Icon name="mdi:twitter" class={iconClass} />
  </a> -->
  <a href={links.linkedin} {...linkAttrs} class="group" title="LinkedIn">
    <Icon name="mdi:linkedin" class={iconClass} />
  </a>
</div>
